body{
  background-image: url("https://cdn.pixabay.com/photo/2016/08/16/17/12/rotterdam-1598418_1280.jpg");
  /*background-color: #F7F48B;*/
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Raleway', sans-serif;
}

h1{
  color: #F05941;
}

h2{
  color: #5FE1D9;
  font-size: 50px;
  font-family: arial;
}

.container{
  background-color: yellow;
  width: 500px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.illustration{
  width: 201px
}
